asgiref==3.9.1
crispy-bootstrap4==2025.6
Django==5.2.5
django-crispy-forms==2.4
django-stubs==5.2.2
django-stubs-ext==5.2.2
pillow==11.3.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250809
typing_extensions==4.14.1
